{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AboutUs</title>
<link rel="stylesheet" href={%static "css/About Us.css"%}>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&family=Oswald&display=swap" rel="stylesheet">
</head>

<body>

  <div class="content">
    <h2>About Us</h2>
  </div>



  <div class="features">

    <div class="feature-row">
      <img class="harvest" src="harvest.png" alt="">
      <h3>Best In Quality</h3>
      <p>Welcome to our warm and friendly online market Our certified organic store supplies organic, natural,
        and wholefood products which are the best in quality in the market and full of
        essential nutrients.
      </p>
    </div>

    <div class="feature-row">
      <img class="broccolli" src="broccoli.png" alt="">
      <h3>Hand-picked & Organic</h3>
      <p>We carefully evaluate products, and they are specially hand-picked for you & your family.
        Ensuring that you eat healthy and helping you increase your immunity.</p>
    </div>

    <div class="feature-row">
      <img class="spinach" src="spinach.png" alt="">
      <h3>Fresh From Farm</h3>
      <p>We directly purchase our products from the local farmer's, hence there's no subsidary agent between till it reaches to you.
        With our low prices, you'll be able to cook a healthy meal at a budget-friendly cost.</p>
    </div>

  </div>
  <div class="wrapper">
    <h2>Meet Our Team</h2>
    <div class="person-one">
      <img class="first-person" src="" alt="">
      <h3 class="first-name">Ayush Gupta</h3>
      <h5 class="card-title">⭐⭐⭐⭐</h5>
      <p class="tech-stack">Web Developer</p>
    </div>

    <div class="person-two">
      <img class="second-person" src="" alt="">
      <h3 class="first-name">Aakash Natlani</h3>
      <h5 class="card-title">⭐⭐⭐⭐</h5>
      <p>Web Developer</p>

    </div>

    <div class="person-three">
      <img class="third-person" src="" alt="">
      <h3 class="first-name">Hrishekesh Naware</h3>
      <h5 class="card-title">⭐⭐⭐⭐</h5>
      <p>Web Developer</p>

    </div>

    <div class="person-four">
      <img class="fourth-person" src="" alt="">
      <h3 class="first-name">Mansi Pal</h3>
      <h5 class="card-title">⭐⭐⭐⭐</h5>
      <p>Web Developer</p>

    </div>

    <div class="person-four">
      <img class="fourth-person" src="" alt="">
      <h3 class="first-name">Kanak Gupta</h3>
      <h5 class="card-title">⭐⭐⭐⭐</h5>
      <p>Web Developer</p>
    </div>
  </div>


</body>

</html>